@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

    <h1>@message</h1>
    <form action="@routes.HomeController.saveRegistration()" method="POST">
    Name : <input type="text" name="name" ><br>
    E-Mail : <input type="text" name="mail"><br>
    <button>Register</button>
    
        
    </form>

}